node_modules/
dist/
.env
.DS_Store
.vs/neoslim-portfolio/FileContentIndex/9107e382-4495-4aee-b3f5-19456fa3d410.vsidx
.vs/neoslim-portfolio/FileContentIndex/8355a328-0231-407a-ae39-d7054d13e716.vsidx
/.vs

